<a href="https://colab.research.google.com/github/RamiIssa2/Multi-Media-Labs/blob/main/MutiMediaLab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variables**

In [ ]:
a = 3

print(a)

# **Strings**

In [ ]:
fn = "ahmad"
ln = "mohamad"

print (fn, ln)

# **Lists**

In [ ]:
names = ["Rami", "Sami", "Maram"]

for name in names:
  print(name)

print()

for i in range(len(names)):
  print(names[i])

In [ ]:
#define a list
bikes = ['trek', 'redline', 'giant']

#access element
first_bike = bikes[0]
last_bike = bikes[-1]
#last_bike = bikes[2]
print(first_bike)
print(last_bike)

In [ ]:
#Making numerical lists
x = range(7)
for n in x:
  print(n)

squares = []
print("squares")
for x in range(1, 11):
  squares.append(x**2)
print(squares)

In [ ]:
#Slicing a list
finishers = ["sam" ,"ada", "bea"]
first_two = finishers[:2]
print(first_two)
element = finishers[1:3]
print(element)

# **If Statements**

In [ ]:
age = 15
if age < 4:
  ticket_price = 0
elif age < 18:
  ticket_price = 10
else:
  ticket_price = 15

print(ticket_price)

In [ ]:
bikes = ['trek', 'redline', 'giant']

if "trek" in bikes:
  print(True)
if "star" not in bikes:
  print(True)

# **Dictionaries**

In [ ]:
#empty
alien = {}

#with intial values
alien = {'color':' green', 'points': 5}

#Adding a new key value pair
alien['x_position'] = 0

#Looping through all keys
fav_numbers = {'eric': 17, 'ever': 4}
for name in fav_numbers.keys():
  print(name + ' loves a number')

#Looping through all the values
fav_numbers = {'eric': 17, 'ever': 4}
for number in fav_numbers.values():
  print(str(number) +  ' is a favorite')

# **Functions**

In [ ]:
def make_pizza(topping='bacon'):
  """Make a single topping pizza."""
  print("Have a " + topping + " pizza!")
make_pizza()
make_pizza('pepperoni')

def add_numbers (x, y):
  """Add two numbers and return the sum."""
  return x + y
sum = add_numbers (3, 5)
print(sum)

# **Exercise 1:**

In [19]:
def sort_with_type(l, type="ascending"):
  for i in range(len(l)):
    for j in range(len(l) - 1):
        if type == "ascending":
          if (l[j] > l[j+1]):
            temp = l[j]
            l[j] = l[j+1]
            l[j+1] = temp
        elif type == "descending":
          if (l[j] < l[j+1]):
            temp = l[j]
            l[j] = l[j+1]
            l[j+1] = temp
        else:
          print('error: type not right')

l = [10, 5, 9, 11, 1, 7, 3, 23, 45, 8]
print('Original: ' + str(l))

sort_with_type(l, "ascending")
print('Ascending: ' + str(l))

sort_with_type(l, "descending")
print('descending: ' + str(l))

Original: [10, 5, 9, 11, 1, 7, 3, 23, 45, 8]
Ascending: [1, 3, 5, 7, 8, 9, 10, 11, 23, 45]
descending: [45, 23, 11, 10, 9, 8, 7, 5, 3, 1]

# **Numpy Basics**

In [ ]:
import numpy as np
#create NumPy array from Python lists
a = np.array ([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print("a =\n", a, '\n')

#The elements are all of the same type,
#referred to as the array dtype (data type).
print("dtype = ", a.dtype, '\n')

#We can access the elements in the array using square brackets.
print("a[0] = ", a[0], '\n')
print("a[2,1] = ", a[2, 1], '\n')

#ways to create basic array
b = np.array([1, 2, 3])
arr_zeros = np.zeros((2, 3))
arr_ones = np.ones(5)
arr_range = np.arange(2, 15)
print(b, '\n')
print(arr_zeros, '\n')
print(arr_ones, '\n')
print(arr_range, '\n')

In [ ]:
#You can index and slice NumPy arrays in the same ways you can slice Python lists.
data = np.arange(0, 5, 0.5)
print("data = ", data)
print("data[0: 2] = ", data[0: 2])
print("data[3:] = ", data[3:])
print("data[-2] = ", data[-2])

#basic operations
ones = np.ones(data.size)
res1 = data - ones
res2 = data * ones
res3 = data / ones
print("data = ", data)
print("ones = ", ones)
print("res1 = ", res1)
print("res2 = ", res2)
print("res3 = ", res3)

#useful array operations
mx1 = data.max()
mx2 = np.amax(data)
mn = data.min()
sm = data.sum()
print("data.max() = ", mx1)
print("np.amax(data) = ", mx2)
print("data.min() = ", mn)
print("data.sum()", sm)

#round to the nearest even number
print("round = ", data.round())

# cast to a specified type
data_int = data.astype('uint8')
print("cast to int: ", data_int)

#count non zero elements
nonzero_count = np.count_nonzero([[0, 1, 7, 0, 0], [3, 0, 0, 2, 19]])
print(nonzero_count)

# **Matplotlib Basics**

In [ ]:
import matplotlib.pyplot as plt

#plot numbers
plt.plot([1 , 2 , 7 , 0])
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# plot y versus x
x = [1, 2, 3, 4]
y = [1, 4, 9, 16]
plt.plot(x, y)
plt.show()

#draw points
plt.scatter(x, y, c="r", s=10)
plt.show()

t = np.arange(0., 5., 0.2)
# red dashes, blue squares and green triangles
plt.plot(t, t, 'r--', t, t**2, 'bs', t, t**3, 'g^')
plt.show()

#add x and y labels and title
plt.plot(x,y, c="g")
plt.title("matplotlib", fontsize=19)
plt.scatter(x,y, c="r", s=10)
plt.ylabel("Y Label")
plt.xlabel("X Label")
plt.show()

# **Exercise 2:**

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

data = np.array([3, 3, 3, 4, 5, 5, 7, 7, 8, 8, 8, 10])
data_range = np.arange(3, 11, 1)

ones = np.ones(data.size)
data_frequencies = []
for i in range(3, 11):
  data_frequencies.append(np.count_nonzero(data == i))

plt.bar(data_range, data_frequencies)
 
plt.xlabel("Value")
plt.ylabel("Frequency")
plt.title("Frequencies")
plt.show()